<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <div class="loader">
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__bar"></div>
    <div class="loader__ball"></div>
  </div>
</ngx-spinner>
<router-outlet></router-outlet>
